# Build and dependencies
build/
vcpkg_installed/

# VS and IDEs
.vs/
.vscode/
*.user
*.suo
.idea/
CMakeUserPresets.json

# Tooling
compile_commands.json
.cache/
.clangd/
*.log
sanitizer*.log
Testing/
configure_out.txt
CMakeCache.txt
cmake_install.cmake
Makefile
